In [ ]:
import numpy as np
import pandas as pd
import warnings
warnings.simplefilter("ignore")

In [ ]:
df=pd.read_csv("/content/drive/My Drive/car_project/final_autoportal.csv")

In [ ]:
df.head()

           brand         model     variant  ...       city  year transmission
0        Hyundai     Grand i10       Magna  ...       Pune  2014       Manual
1        Hyundai    Elite i20   Sportz 1.4  ...  New Delhi  2015       Manual
2  Maruti Suzuki       Wagon R         VXi  ...  Bangalore  2017       Manual
3         Nissan  Micra Active          XV  ...  Bangalore  2014       Manual
4        Hyundai    Elite i20   Sportz 1.2  ...  Bangalore  2015       Manual

[5 rows x 10 columns]

In [ ]:
df.shape

(14310, 10)

In [ ]:
cars24=pd.read_csv("/content/drive/My Drive/car_project/final_new.csv",index_col=0)

In [ ]:
cars24.head()

                      variant    price  ...       city            car_name
0           Maruti Ertiga ZDI  454,675  ...  delhi-ncr       Maruti Ertiga
1        Maruti Ciaz VXI PLUS  658,520  ...  delhi-ncr         Maruti Ciaz
2            Maruti Swift VDI  220,366  ...  delhi-ncr        Maruti Swift
3           Maruti Ertiga ZDI  454,675  ...  delhi-ncr       Maruti Ertiga
4  Maruti Swift Dzire VXI 1.3  257,084  ...  delhi-ncr  Maruti Swift Dzire

[5 rows x 9 columns]

In [ ]:
cars24["brand"]=cars24["variant"].apply(lambda x:x.split()[0] if x.split()[0] not in ["Mercedes","Ashok","Hindustan"] else x.split()[0]+" "+x.split()[1])

In [ ]:
data=df[df["brand"]=="Fiat"]
print(data.shape)
print(data["model"].unique())
#data["model"]=data["variant"].apply(lambda x:x.split()[1])
#data[data["model"]=="Palio"]["variant"].apply(lambda x:x.split()[2]).unique()

(111, 10)
['Linea' 'Punto Evo' 'Avventura' 'Linea [2008-2011]' 'Linea Classic'
 'Punto [2011-2014]' 'Punto [2009-2011]' 'Grande Punto (2005 - 2013)'
 'Linea [2012-2014]' 'Palio Stile' 'Palio']

In [ ]:
data=cars24[cars24["brand"]=="Hyundai"]
print(data.shape)
data["extra"]=data[["variant","brand"]].apply(lambda x:x["variant"][len(x["brand"]):],axis=1)
data["model"]=data["extra"].apply(lambda x:x.split()[0])
print(data["model"].unique())
data[data["model"]=="Grand"]["variant"].apply(lambda x:x.split()[2]).unique()

(10233, 10)
['Santro' 'Grand' 'i10' 'Eon' 'i20' 'Elite' 'Creta' 'Verna' 'Xcent'
 'Accent' 'Santa' 'Getz' 'Elantra' 'New' 'XCENT' 'AURA' 'NEW' 'GRAND'
 'Sonata' 'VENUE' 'Tucson']

array(['i10'], dtype=object)

Ashok Leyland:
1.Leyland(add to brand name)-Add Stile


Hindustan motors:
1. motors(add to brand name)-change to ambassador and Contessa



drop force

Land Rover
1. Range-Add Rover

Volvo
1. XC-add 60 or 90
2. V-add 40

Fiat
1. Grand-Add punto
2. Urban-Add Cross



Jeep
1. JEEP-Villys

NISSAN:

1. X-add trail
2. NISSAN-remove nissan add kicks


BMW:

1. Drop Mini
2. add series with 3,7,5,1,6

Toyota

1. Land-add Cruiser


Mahindra

1. Renault-Logan
2. XUV-add 300
3. E2O,E20-change E2o

Tata

1. Vista-indica
2. spacio-sumo
3. Grande-sumo




Hyundai

1. Grand-should be added i20
2. NEW-it shows santro as model when splitting further
3. New-it is elantra
3. Elite-it is Elite i20

Honda -it seems fine

Maruti:

1. Wagon-R should be added
2. Vitara-Breeza should be added
3. A-should be converted to alto
4. S-both scross and spresso is found
5. Grand-Vitara should be added
6. New-Wagon-R
7. WAGON-R shouls be added

MARUTI:
1.S-add xpresso

Ford

1. New-Figo

VW

1. cross-polo

In [ ]:
cars24["brand"].unique()

array(['Maruti', 'Volkswagen', 'Hyundai', 'Honda', 'Renault', 'Ford',
       'Tata', 'Mitsubishi', 'Toyota', 'Mahindra', 'Chevrolet', 'Skoda',
       'Audi', 'BMW', 'Jeep', 'Fiat', 'Datsun', 'Nissan', 'Landrover',
       'Mercedes Benz', 'Porsche', 'Jaguar', 'Force', 'Ssangyong', 'MG',
       'ISUZU', 'Volvo', 'ICML', 'Daewoo', 'KIA', 'Opel', 'Premier',
       'Hindustan Motors', 'MARUTI', 'DC', 'Ashok Leyland'], dtype=object)

In [ ]:
def model_process(data):
  brand=data["brand"]
  model=data["model"]
  variant=data["extra"]
  #Hyundai
  if brand=="Hyundai":
    if model in ["Grand","GRAND"]:
      return model+" "+variant.split()[1]
    elif model in ["NEW","New"]:
      return variant.split()[1]
    elif model=="Elite":
      return "i20"
    else:
      return model
  #Marurti
  elif brand=="Maruti":
    if model in ["Wagon","S","Grand","WAGON","Vitara",]:
      return model+" "+variant.split()[1]
    elif model in ["A","New"]:
      maruti_d={"A":"Alto","New":"Wagon R"}
      return maruti_d[model]
    else :
      return model
  #MARUTI:
  elif brand=="MARUTI":
    if model in ["S"]:
      return model+" "+variant.split()[1]
    else:
      return model
  #Ford
  elif brand=="Ford":
    if model in ["New"]:
      return variant.split()[1]
    else:
      return model
  elif brand=="Volkswagen":
    if model in ["Cross"]:
      return model+" "+variant.split()[1]
    else:
      return model
  elif brand=="Tata":
    if model in ["Vista","Grande","spacio"]:
      tata_d={"Vista":"Indica","Grande":"Sumo","spacio":"Sumo"}
      return tata_d[model]
    else:
      return model
  elif brand=="Mahindra":
    if model in ["Renault","E2O","E20"]:
      mahindra_d={"Renault":"Logan","E20":"E2o","E2O":"E2o"}
      return mahindra_d[model]
    elif model=="XUV":
      return model+" "+variant.split()[1]
    else:
      return model
  elif brand=="Toyota":
    if model=="Land":
      return model+" "+variant.split()[1]
    else:
      return model
  elif brand=="BMW":
    if model in ["3","7","5","1","6"]:
      return model+" "+"Series"
    else:
      return model
  elif brand=="Nissan":
    if model=="X":
      return model+" "+variant.split()[1]
    elif model=="NISSAN":
      return "Kicks"
    else:
      return model
  elif brand=="Jeep":
    if model=="JEEP":
      return "Villys"
    else:
      return model
  elif brand=="Fiat":
    if model in ["URBAN","Grand"]:
      return model+" "+variant.split()[1]
    else:
      return model
  elif brand=="Volvo":
    if model in ["XC","V"]:
      return model+variant.split()[1]
    else:
      return model
  elif brand=="Landrover":
    if model=="Range":
      return model+" "+variant.split()[1]
    else:
      return model
  else:
    return model

In [ ]:
data=cars24[cars24["brand"]=="Ashok Leyland"]
print(data.shape)
data["extra"]=data[["variant","brand"]].apply(lambda x:x["variant"][len(x["brand"]):],axis=1)
data["model"]=data["extra"].apply(lambda x:x.split()[0])
print(data["model"].unique())
data["model"]=data.apply(model_process,axis=1)
#data["model"]=data.apply(lambda x:x["model"] if  x["model"] not in ["Grand","NEW","New","GRAND"] else x["model"]+x["variant"].split()[2],axis=1)
print(data["model"].unique())
#data[data["model"]=="Grand"]["variant"].apply(lambda x:x.split()[2]).unique()

(2, 10)
['Stile']
['Stile']

In [ ]:
cars24_copy=cars24.copy()

In [ ]:
cars24_copy["extra"]=cars24_copy[["variant","brand"]].apply(lambda x:x["variant"][len(x["brand"]):],axis=1)
cars24_copy["model"]=cars24_copy["extra"].apply(lambda x:x.split()[0])
cars24_copy["model"]=cars24_copy.apply(model_process,axis=1)

In [ ]:
cars24_copy.head()

                      variant    price  ...                 extra   model
0           Maruti Ertiga ZDI  454,675  ...            Ertiga ZDI  Ertiga
1        Maruti Ciaz VXI PLUS  658,520  ...         Ciaz VXI PLUS    Ciaz
2            Maruti Swift VDI  220,366  ...             Swift VDI   Swift
3           Maruti Ertiga ZDI  454,675  ...            Ertiga ZDI  Ertiga
4  Maruti Swift Dzire VXI 1.3  257,084  ...   Swift Dzire VXI 1.3   Swift

[5 rows x 12 columns]

In [ ]:
cars24_final=cars24_copy.drop(columns=["car_name","extra"])

In [ ]:
cars24_final.head()

                      variant    price  Year  ...       city   brand   model
0           Maruti Ertiga ZDI  454,675  2012  ...  delhi-ncr  Maruti  Ertiga
1        Maruti Ciaz VXI PLUS  658,520  2015  ...  delhi-ncr  Maruti    Ciaz
2            Maruti Swift VDI  220,366  2011  ...  delhi-ncr  Maruti   Swift
3           Maruti Ertiga ZDI  454,675  2012  ...  delhi-ncr  Maruti  Ertiga
4  Maruti Swift Dzire VXI 1.3  257,084  2009  ...  delhi-ncr  Maruti   Swift

[5 rows x 10 columns]

In [ ]:
cars24_final.columns

Index(['variant', 'price', 'Year', 'Kms Driven', 'Fuel Type', 'Owner',
       'Transmission', 'city', 'brand', 'model'],
      dtype='object')

In [ ]:
df.columns=['brand', 'model', 'variant', 'price', 'Kms Driven', 'Fuel Type', 'Owner',
       'city', 'Year', 'Transmission']

In [ ]:
df.head()

           brand         model     variant  ...       city  Year Transmission
0        Hyundai     Grand i10       Magna  ...       Pune  2014       Manual
1        Hyundai    Elite i20   Sportz 1.4  ...  New Delhi  2015       Manual
2  Maruti Suzuki       Wagon R         VXi  ...  Bangalore  2017       Manual
3         Nissan  Micra Active          XV  ...  Bangalore  2014       Manual
4        Hyundai    Elite i20   Sportz 1.2  ...  Bangalore  2015       Manual

[5 rows x 10 columns]

In [ ]:
concated_df=pd.concat([cars24_final,df])

In [ ]:
concated_df["brand"].nunique(),df["brand"].nunique(),cars24_final["brand"].nunique()

(42, 28, 36)

In [ ]:
concated_df["brand"].unique()

array(['Maruti', 'Volkswagen', 'Hyundai', 'Honda', 'Renault', 'Ford',
       'Tata', 'Mitsubishi', 'Toyota', 'Mahindra', 'Chevrolet', 'Skoda',
       'Audi', 'BMW', 'Jeep', 'Fiat', 'Datsun', 'Nissan', 'Landrover',
       'Mercedes Benz', 'Porsche', 'Jaguar', 'Force', 'Ssangyong', 'MG',
       'ISUZU', 'Volvo', 'ICML', 'Daewoo', 'KIA', 'Opel', 'Premier',
       'Hindustan Motors', 'MARUTI', 'DC', 'Ashok Leyland',
       'Maruti Suzuki', 'Mahindra SsangYong', 'Mercedes-Benz',
       'Land Rover', 'Isuzu', 'Mini', nan], dtype=object)

In [ ]:
concated_df.isnull().sum()

variant            66
price               0
Year                0
Kms Driven          0
Fuel Type          88
Owner               0
Transmission    14253
city                0
brand              26
model              51
dtype: int64

In [ ]:
concated_df=concated_df.dropna(subset=["brand","model"])

In [ ]:
concated_df["brand"]=concated_df["brand"].apply(lambda x:x[0].upper()+x[1:].lower())

In [ ]:
concated_df["brand"]=concated_df["brand"].replace({"Mahindra ssangyong":"Ssangyong","Land rover":"Land Rover","Landrover":"Land Rover",
                              "Maruti suzuki":"Maruti","Mercedes-benz":"Mercedes Benz","Mercedes benz":"Mercedes Benz",
                              'Hindustan motors':"Hindustan Motors","Ashok eyland":"Ashok Leyland"})

In [ ]:
concated_df["brand"].nunique(),df["brand"].nunique(),cars24_final["brand"].nunique()

(36, 28, 36)

In [ ]:
concated_df.head()

                      variant    price  Year  ...       city   brand   model
0           Maruti Ertiga ZDI  454,675  2012  ...  delhi-ncr  Maruti  Ertiga
1        Maruti Ciaz VXI PLUS  658,520  2015  ...  delhi-ncr  Maruti    Ciaz
2            Maruti Swift VDI  220,366  2011  ...  delhi-ncr  Maruti   Swift
3           Maruti Ertiga ZDI  454,675  2012  ...  delhi-ncr  Maruti  Ertiga
4  Maruti Swift Dzire VXI 1.3  257,084  2009  ...  delhi-ncr  Maruti   Swift

[5 rows x 10 columns]

In [ ]:
def split_process(data):
  if "(" in data:
    return data.split("(")[0]
  elif "[" in data:
    return data.split("[")[0]
  else:
    return data
def numeric_removing(data):
  val=[]
  l=np.arange(1950,2021).tolist()
  l=[str(i) for i in l]
  l.append("-")
  data=data.split()
  data_t=[]
  for i in data:
    data_t.extend(i.split("-"))
  for i in data_t:
    if i not in l:
      val.append(i)
  return " ".join(val)

In [ ]:
def process(data):
  brand=data["brand"]
  model=data["model"]
  val=[]
  try:
    if brand=="Hyundai":
      if model in ["Elite i20","Fluidic Verna 4S","Sonata Embera","Getz Prime","Sonata Transform","Santro Xing","Santa"]:
        d={"Elite i20":"I20","Fluidic Verna 4S":"Verna","Sonata Embera":"Sonata","Getz Prime":"Getz","Sonata Transform":"Sonata","Santro Xing":"Sonata","Santa":"Santa Fe"}
        return d[model]
      else:
        for i in model.split():
          val.append(i[0].upper()+i[1:].lower())
        return " ".join(val)
    elif brand=="Honda":
      if model in ["BR V",'WR V','CR V','CR   V ','city 20022007','Accord  ']:
        d={"BR V":"BRV","WR V":"WRV","CR V":"CRV","CR   V ":"CRV","city 20022007":"City","Accord  ":"Accord"}
        return d[model]
      else:
        return model
    elif brand=="Maruti":
      if model in ['A Star','Alto K10','Wagon R Stingray','Zen Estilo','Alto 800','Swift DZire Facelift','WagonR 1.0','Swift DZire Tour']:
        d={"A Star":"Alto","Alto K10":'Alto',"Wagon R Stingray":"Wagon R","Zen Estilo":"Zen","Alto 800":"Alto","Swift DZire Facelift":"Swift Dzire",
          'WagonR 1.0':"Wagon R","Swift DZire Tour":"Swift Dzire","Dzire":"Swift Dzire"}
        return d[model]
      else:
        for i in model.split():
          val.append(i[0].upper()+i[1:].lower())
        return " ".join(val)
    elif brand=="Ford":
      for i in model.split():
          val.append(i[0].upper()+i[1:].lower())
      return " ".join(val)
    elif brand=="Volkswagen":
      for i in model.split():
          val.append(i[0].upper()+i[1:].lower())
      return " ".join(val)
    elif brand=="Skoda":
      if model=="Octavia ":
        return "Octavia"
      else:
        for i in model.split():
            val.append(i[0].upper()+i[1:].lower())
        return " ".join(val)
    elif brand=="Toyota":
      if model in ['Innova Crysta','Corolla Altis','Etios Liva','Platinum Etios']:
        d={'Innova Crysta':"Innova",'Corolla Altis':"Corolla",'Etios Liva':"Etios",'Platinum Etios':"Etios"}
        return d[model]
      else:
        for i in model.split():
            val.append(i[0].upper()+i[1:].lower())
        return " ".join(val)
    elif brand=="Renault":
      if model=="Kwid 1.0":
        return "Kwid"
      else:
        for i in model.split():
            val.append(i[0].upper()+i[1:].lower())
        return " ".join(val)
    elif brand=="Chevrolet":
      if model in ['Sail Hatchback','Aveo U VA','Optra Magnum']:
        d={'Sail Hatchback':"Sail",'Aveo U VA':"Aveo",'Optra Magnum':"Optra"}
        return d[model]
      else:
        for i in model.split():
            val.append(i[0].upper()+i[1:].lower())
        return " ".join(val)
        '3 Series GT' 'Z4 Roadster' '3 Series Convertible'
    elif brand=="Bmw":
      if model in ['3 Series GT','Z4 Roadster','3 Series Convertible']:
        d={'3 Series GT':'3 Series','Z4 Roadster':"Z4",'3 Series Convertible':"3 Series"}
        return d[model]
      else:
        for i in model.split():
            val.append(i[0].upper()+i[1:].lower())
        return " ".join(val)

        
    elif brand=="Mercedes Benz":
      if model in ['S','E','C','GLA','B','GLS','R','CLA','GLC','GLE','A','GL','M']:
        return model+" Class"
      elif model=="Ml":
        return "M Class"
      elif model=="E Class ":
        return "E Class"
      else:
        return model.split()[0].upper()+" "+model.split()[1][0].upper()+model.split()[1][1:].lower()
    elif brand=="Datsun":
      if model=="GO+":
        return "Go Plus"
      elif model=="Redi":
        return "Redi Go"
      else:
        for i in model.split():
            val.append(i[0].upper()+i[1:].lower())
        return " ".join(val)
    elif brand=="Nissan":
      if model=="Micra Active":
        return "Micra"
      else:
        for i in model.split():
            val.append(i[0].upper()+i[1:].lower())
        return " ".join(val)
    elif brand=="Audi":
      if model=="A8 L ":
        return "A8L"
      else:
        return model
    elif brand=="Isuzu":
      if model=="Dmax V Cross":
        return "D Max"
      else:
        return model
    elif brand=="Mitsubishi":
      if model=="Pajero Sport":
        return "Pajero"
      else:
        return model
    elif brand=="Fiat":
      if model in ['Punto Evo','Avvventura','Linea Classic','Grande Punto','Palio Stile']:
        d={'Punto Evo':"Punto",'Avvventura':"Avventura",'Linea Classic':"Linea",'Grande Punto':"Grand Punto",'Palio Stile':"Palio"}
        return d[model]
      else:
        for i in model.split():
            val.append(i[0].upper()+i[1:].lower())
        return " ".join(val)
    elif brand=="Land Rover":
      if model in ['Discovery Sport','Freelander 2','Range Rover Evoque','Range Rover Sport  ']:
        d={'Discovery Sport':"Discovery",'Freelander 2':"Freelander",'Range Rover Evoque':"Range Rover",'Range Rover Sport  ':"Range Rover"}
        return d[model]
      else:
        for i in model.split():
            val.append(i[0].upper()+i[1:].lower())
        return " ".join(val)
    elif brand=="Tata":
      if model in ['Nano GenX','Safari Storme','Safari Dicor','Nano Twist','Indigo eCS','Indica Vista','Indigo CS','Sumo Grande',
  'Indigo Marina','Indica V2','Sumo Gold']:
        d={'Nano GenX':'Nano','Safari Storme':"Safari",'Safari Dicor':"Safari",'Nano Twist':"Nano",'Indigo eCS':"Indigo",
          'Indica Vista':"Indica",'Indigo CS':"Indigo",'Sumo Grande':'Sumo','Indigo Marina':"Indigo",'Indica V2':"Indica",'Sumo Gold':"Sumo"}
        return d[model]
      else:
        for i in model.split():
            val.append(i[0].upper()+i[1:].lower())
        return " ".join(val)
    elif brand in ["Jaguar","Volvo"]:
      return model
    elif brand=="Mahindra":
      if model in ["KUV100 NXT",'Kuv100']:
        return "KUV"
      elif model=="Tuv300":
        return "TUV"
      else:
        return model.strip()
    else:
      for i in model.split():
            val.append(i[0].upper()+i[1:].lower())
      return " ".join(val)
  except:
    print("error")
    print(model)
    return np.nan

In [ ]:
#data=concated_df[concated_df["brand"]=="Mahindra"]
#print(data.shape)
#print(data["model"].unique())
concated_df["model"]=concated_df["model"].apply(split_process)
concated_df["model"]=concated_df["model"].apply(numeric_removing)
#print((data["model"].unique()))
concated_df["model"]=concated_df.apply(process,axis=1)
#print((data["model"].unique()))

error
SLK

In [ ]:
for i in concated_df["brand"].unique():
  print(i)
  data=concated_df[concated_df["brand"]==i]
  print((data["model"].unique()))
  print("---")

Maruti
['Ertiga' 'Ciaz' 'Swift' 'Ritz' 'Sx4' 'Alto' 'Wagon R' 'Baleno'
 'Vitara Brezza' 'Eeco' 'Zen' 'Celerio' 'Dzire' 'Ignis' 'Esteem' 'Omni'
 '800' 'S Cross' 'Gypsy' 'S Presso' 'Grand Vitara' 'Xl6' 'Kizashi' 'Versa'
 '1000' 'Celerio X' 'Swift Dzire']
---
Volkswagen
['Polo' 'Vento' 'Ameo' 'Jetta' 'Touareg' 'Passat' 'Cross Polo' 'Tiguan']
---
Hyundai
['Santro' 'Grand I10' 'I10' 'Eon' 'I20' 'Creta' 'Verna' 'Xcent' 'Accent'
 'Santa Fe' 'Getz' 'Elantra' 'Aura' 'Sonata' 'Venue' 'Tucson' 'I20 Active']
---
Honda
['City' 'Civic' 'Amaze' 'Brio' 'Accord' 'Mobilio' 'Jazz' 'WRV' 'BRV' 'CRV']
---
Renault
['Duster' 'Kwid' 'Pulse' 'Scala' 'Lodgy' 'Fluence' 'Triber' 'Koleos'
 'Captur']
---
Ford
['Ecosport' 'Fiesta' 'Figo' 'Classic' 'Endeavour' 'Ikon' 'Freestyle'
 'Escort' 'Fusion' 'Aspire']
---
Tata
['Tiago' 'Zest' 'Harrier' 'Indigo' 'Tigor' 'Safari' 'Indica' 'Nexon'
 'Manza' 'Nano' 'Sumo' 'Aria' 'Hexa' 'Bolt' 'Altroz' 'Winger' 'Xenon'
 'Venture' 'Indicab' 'Tl' 'Magic']
---
Mitsubishi
['Pajero' 'Lancer' 'Outlander' 'Cedia' 'Montero']
---
Toyota
['Etios' 'Fortuner' 'Innova' 'Corolla' 'Camry' 'Qualis' 'Yaris' 'Glanza'
 'Land Cruiser' 'Prius' 'Etios Cross']
---
Mahindra
['Scorpio' 'XUV500' 'KUV' 'TUV300' 'MARAZZO' 'Imperio' 'Bolero' 'Quanto'
 'Xylo' 'Logan' 'XUV 3OO' 'Thar' 'Verito' 'E2o' 'ALTURAS' 'Maxximo' 'TUV'
 'NUVOSPORT' 'Reva' 'JEEP' 'Armada' 'COMMANDER' 'SUPRO' 'Marshal' 'KUV100'
 'NuvoSport']
---
Chevrolet
['Cruze' 'Beat' 'Aveo' 'Optra' 'Spark' 'Sail' 'Captiva' 'Enjoy' 'Tavera'
 'Trailblazer' 'Forester']
---
Skoda
['Rapid' 'Fabia' 'Octavia' 'Superb' 'Laura' 'Yeti' 'Kodiaq']
---
Audi
['A4' 'Q3' 'Q5' 'A6' 'A3' 'Q7' 'A8L' 'S5' 'A7' 'A5' 'A8' 'RS5']
---
Bmw
['X1' '3 Series' '5 Series' '7 Series' 'X3' 'X5' 'Mini' '1 Series'
 '6 Series' 'Z4' 'X6']
---
Jeep
['Compass' 'Villys']
---
Fiat
['Grand Punto' 'Palio' 'Linea' 'Punto' 'Avventura' 'Uno' 'Urban Cross'
 'Siena' 'Adventure' 'Petra']
---
Datsun
['Go' 'Redi Go' 'Go Plus']
---
Nissan
['Terrano' 'Sunny' 'Micra' 'Teana' 'Kicks' 'Evalia' 'X Trail']
---
Land Rover
['Range Rover' 'Freelander' 'Discovery']
---
Mercedes Benz
['E Class' 'S Class' 'B Class' 'C Class' 'CLA Class' 'M Class' 'A Class'
 'GLA Class' nan 'GLE Class' 'GLS Class' 'GLC Class' 'R Class' 'GL Class'
 'CLA45 Amg']
---
Porsche
['Cayenne' 'Panamera']
---
Jaguar
['XF' 'XJ' 'XE' 'F' 'F PACE']
---
Force
['Motors' 'One']
---
Ssangyong
['Rexton']
---
Mg
['Hector']
---
Isuzu
['MU 7' 'MU X' 'D Max']
---
Volvo
['V40' 'S60' 'XC90' 'XC60']
---
Icml
['Rhino']
---
Daewoo
['Matiz' 'Cielo']
---
Kia
['Seltos']
---
Opel
['Corsa' 'Astra']
---
Premier
['Padmini' 'Rio']
---
Hindustan Motors
['Ambassador' 'Contessa']
---
Dc
['Avanti']
---
Ashok leyland
['Stile']
---
Mini
['Cooper' 'Cooper Countryman' 'Cooper S']
---

In [ ]:
concated_df.head()

                      variant    price  Year  ...       city   brand   model
0           Maruti Ertiga ZDI  454,675  2012  ...  delhi-ncr  Maruti  Ertiga
1        Maruti Ciaz VXI PLUS  658,520  2015  ...  delhi-ncr  Maruti    Ciaz
2            Maruti Swift VDI  220,366  2011  ...  delhi-ncr  Maruti   Swift
3           Maruti Ertiga ZDI  454,675  2012  ...  delhi-ncr  Maruti  Ertiga
4  Maruti Swift Dzire VXI 1.3  257,084  2009  ...  delhi-ncr  Maruti   Swift

[5 rows x 10 columns]

In [ ]:
concated_df.shape

(68186, 10)

In [ ]:
concated_df=concated_df.drop_duplicates()
concated_df=concated_df.dropna(subset=["model"])

In [ ]:
concated_df["Fuel Type"]=concated_df["Fuel Type"].replace({"CNGPetrol":"Petrol + CNG"})

In [ ]:
concated_df["Fuel Type"].unique()

array(['Diesel', 'Petrol', 'Petrol + CNG', 'CNG', 'Petrol + LPG',
       'Electric', 'LPG', 'Hybrid', nan], dtype=object)

In [ ]:
concated_df["Owner"]=concated_df["Owner"].replace({'Third':3,'First':1,'Second':2,'Fourth':4,'Sixth':6,'Fifth':5,'Ninth':9,
       'Seventh':7,'Tenth':10,'Eighth':8})

In [ ]:
concated_df["Owner"].unique()

array([ 1,  2,  3,  4,  5,  6, 10,  7,  8,  9])

In [ ]:
concated_df["city"].nunique()

289

In [ ]:
concated_df["city"]=concated_df["city"].apply(lambda x:x[0].upper()+x[1:].lower())

In [ ]:
concated_df.to_csv("final.csv",index=False)

In [ ]:
from google.colab import files
files.download("final.csv")